    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/profile.png" alt="" />
                <h1 class="name">Zach Alexander</h1>
                <h3 class="tagline">Senior Research Analyst</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: alexander.d.zachary@gmail.com">alexander.d.zachary</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:410-790-0174">(410) 790-0174</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/zaalexander" target="_blank">linkedin/zaalexander</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/zachalexander" target="_blank">github/zachalexander</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/zdalexander" target="_blank">@zdalexander</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Harvard Extension School (edX), CS50x</h4>
                    <h5 class="meta">Harvard University</h5>
                    <div class="time">2014 - 2015</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">B.A. in Biology</h4>
                    <h5 class="meta">St. Mary's College of MD</h5>
                    <div class="time">2008 - 2012</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Hiking</li>
                    <li>Soccer</li>
                    <li>Photography</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p class="resume-bold"> You can <a href="http://themes.3rdwavemedia.com/website-templates/orbit-free-resume-cv-template-for-developers/" target="_blank">download a PDF version of my resume/CV here</a>.</p><p>I've worked in the non-profit and for-profit sectors over the past six years to gain a better understanding of science, communication and education at a community level. While conducting research in Australia, Belize, and Puerto Rico, I became particularly interested in communicating scientific and statistical information to the general public. Through my work experiences with non-profits in the Boston area, I've been able to build upon this interest, collaborating with BPS school officials to better inform teaching practices. At CEP, I analyze grantee and nonprofit-feedback in order to better inform foundations of their overall effectiveness. I write reports for the philanthropic sector, and contribute to the broader scope of research for the field.</p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>

                <div class="item">
                    <div class="meta">

                        <div class="upper-row">
                            <h3 class="job-title">Senior Research Analyst</h3>
                            <div class="time">October 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a class="company-header" href="http://cep.org/people/zach-alexander-2/" target="_blank">Center for Effective Philanthropy,</a> Cambridge, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Analyzing large-scale quantitative and qualitative datasets, using inferential statistics and qualitative coding techniques.</p>
                        <p>Leading survey administration and data collection processes for CEP's ongoing research.</p>
                        <p>Writing clear and compelling research reports highlighting findings and recommendations drawn from analysis.</p>
                        <p>Actively contributing to team discussions, collaborating on cross-team projects, and helping develop CEP’s internal knowledge base and operations.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Digital Advertising Temp</h3>
                            <div class="time">March 2015 - October 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a class="company-header" href="http://cep.org/people/zach-alexander-2/" target="_blank">DragonSearch Digital Marketing,</a> Kingston, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Managing client accounts for Pay Per Click Advertising, Search Engine Marketing, Google Adwords adjustments, Web/Google Analytics, Conversion Rate Optimization, Remarketing, and Online Lead Generation.</p>
                        <p>Managing client marketing and digital advertising budgets and relations.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">September 2014 - December 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a class="company-header" href="http://cep.org/people/zach-alexander-2/" target="_blank">University of Puerto Rico,</a> Rio Piedras, PR</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Researched and monitored the diversity and growth of native tropical tree species as part of the 2014 El Yunque Chronosequence Tree Census research team.</p>
                        <p>Responsible for data entry and organization of data sets of over 10,000 trees.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">School-Based Data VISTA Coordinator</h3>
                            <div class="time">July 2013 - July 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a class="company-header" href="http://cep.org/people/zach-alexander-2/" target="_blank">City Year Boston,</a> Boston, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Analyzed attendance (quantitative), behavior (qualitative), and coursework data for 745+ students at the John P. Holland Elementary School using Microsoft Excel and Google Spreadsheet.</p>
                      <p>Collaborated with Boston Public School Partners to identify and evaluate key trends in systems data across 10 district schools with the aim to lower high school dropout rates.</p>
                      <p>Provided and communicated data to multiple stakeholders at City Year Boston and its partners in the Boston Public School District.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Researcher</h3>
                            <div class="time">August 2011 - May 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><a class="company-header" href="http://cep.org/people/zach-alexander-2/" target="_blank">St. Mary's College of MD,</a> St. Mary's City, MD</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Performed a year-long study in collaboration with Point Lookout State Park to better understand the carbon sequestering potential of early successional forest types.</p>
                      <p>Used linear regression analysis to determine proper field method techniques and estimated carbon sequestration through the use of allometric equations.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->


        </div><!--//main-body-->
    </div>
